.display {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 45vh;
}

.display--title {
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 22.5px;
}

.display--duration {
  margin: 10px;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.05em;
}

.display--info {
  font-size: 22px;
  letter-spacing: 0.05em;
  line-height: 22.5px;
}

.display--button {
  z-index: 1;
  margin: 20px;
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  background-color: transparent;
  border-color: transparent transparent transparent steelblue;
  transition: all 100ms ease-in-out;
}

.pause {
  border-style: double;
  border-width: 0px 0px 0px 74px;
}

.settings {
  position: relative;
  top: -65px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #fff8f3;
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
  padding: 35px 40px;
}

.settings--containers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.settings--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings--name {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.settings--value {
  font-size: 18px;
  color: #716f81;
}

.settings--slider {
  border-radius: 10px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 343px;
  height: 13px;
  border: none;
  border-radius: 10px;
}

#workRange::-webkit-slider-runnable-track {
  background: rgb(238, 201, 225);
}

#restRange::-webkit-slider-runnable-track {
  background: rgb(206, 229, 208);
}

#exerciseRange::-webkit-slider-runnable-track {
  background: rgb(188, 203, 223);
}

#roundRange::-webkit-slider-runnable-track {
  background: rgb(248, 206, 206);
}

#resetRange::-webkit-slider-runnable-track {
  background: rgba(243, 233, 207, 0.73);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: -5px;
}

#workRange::-webkit-slider-thumb {
  background: rgb(175, 89, 146);
}

#restRange::-webkit-slider-thumb {
  background: rgb(107, 160, 112);
}
#exerciseRange::-webkit-slider-thumb {
  background: rgb(41, 93, 156);
}
#roundRange::-webkit-slider-thumb {
  background: rgb(216, 120, 120);
}
#resetRange::-webkit-slider-thumb {
  background: rgba(238, 178, 26, 0.73);
}
